/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
node_modules
node_modules



resources/views/mail/mail_order.blade.php
resources/views/backend/slider/slider_edit.blade.php
resources/views/backend/slider/slider_view.blade.php
resources/views/backend/coupon/coupon_edit.blade.php
resources/views/backend/coupon/coupon_view.blade.php
resources/views/frontend/wishlist/view_wishlist.blade.php
resources/views/frontend/tags/tags_view.blade.php
resources/views/frontend/fragments/hot_deals.blade.php
resources/views/frontend/fragments/store_reviews.blade.php
resources/views/frontend/fragments/product_tags.blade.php
resources/views/frontend/payment/stripe.blade.php
app/Http/Controllers/Backend/CouponController.php
app/Http/Controllers/Backend/SliderController.php
app/Http/Controllers/Frontend/LanguageController.php
app/Models/Slider.php
database/migrations/2022_07_18_235253_create_coupons_table.php
database/migrations/2022_07_15_014307_create_wishlists_table.php
database/migrations/2022_07_08_204242_create_sliders_table.php
app/Models/Wishlist.php
app/Models/Coupon.php
app/Mail/OrderMail.php
app/Http/Controllers/User/StripeController.php
app/Http/Controllers/User/WishListController.php
